/* .main{
    background-color: red;
} */

.brandTitulo{
    font-family: 'Staatliches', cursive;
    color: black;
    font-size: 5em;
}

.main-contenido{
    font-family: 'Prompt', sans-serif;
}

.perro-main{
    width: 310px;
}

.info{
    max-height: max-content;
}

.title-info{
    font-family: 'Staatliches', cursive;
    font-size: 2.8rem;
    color: black;
}

.info-text{
    font-size: 1.1rem;
}

@media (max-width: 320px) and (min-width: 0){
    .brandTitulo{
        font-size: 4rem;
    }
}